.ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
  }
  
  .ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }


  /* #placeholderImage {
    max-width: 300px;
    max-height: 300px;
  }

  #placeHolderImageSource {
    max-width: 300px;
    max-height: 300px;
  } */


  #imageCard {
    margin-bottom: 25px;
  }